__pycache__/db.cpython-313.pyc
*.py[cod]
__pycache__/
/__pycache__
*/__pycache__
*/__pycache__/
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
.DS_Store
*.sqlite3
*.db
*.log
.idea/
.vscode/
*.bak
*.swp
*.swo
*.~ 
*.tmp
*.orig
*.coverage
htmlcov/
.cache/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
*.spec